@page "/listquestions"
@using Core
@using WebApp.Shared
@inject HttpClient Http

<PageTitle>List of questions</PageTitle>

<h1>Add question</h1>
Text: <input type="text" @bind-value="@newQuestionText"/><BR/>
<button @onclick="AddQuestion">Add</button>

<h1>Questions</h1>

@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var question in questions)
    {
        int id = question.ID;
        <p>@question.Text
        <button @onclick="() => DeleteQuestion(id)">Delete</button>
        </p>
    }
}

@code {
    private string newQuestionText = string.Empty;

    private Question[]? questions;

    protected override async Task OnParametersSetAsync()
    {
        await RefreshQuestionListAsync();
    }

    private async Task RefreshQuestionListAsync()
    {
        questions = await Http.GetFromJsonAsync<Question[]>("Question");
        StateHasChanged();
    }

    private async void DeleteQuestion(int questionID)
    {
        await Http.GetAsync($"DeleteQuestion?id={questionID}");
        await RefreshQuestionListAsync();
    }

    private async void AddQuestion()
    {
        await Http.GetAsync($"AddQuestion?text={newQuestionText}");
        await RefreshQuestionListAsync();
    }
}
